.shiny-text {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
}

.shiny-text.disabled {
  background-image: none !important;
  background-clip: none !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: currentcolor !important;
}
